<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <title>Portfolio: Md. Mazharul Islam Mithu - Freelancer - Professional Ruby On Rails Developer</title>
    <%= google_webfonts_init({ google: ['Montserrat:400,700', 'Lato:400,700,400italic,700italic']}) %>
    <%= stylesheet_link_tag    "application" %>
    <%= csrf_meta_tags %>
  </head>

  <body id="page-top" class="index">
    <%= render 'shared/navigation' %>    
    <%= yield %>
    <%= render 'shared/footer' %>    
    <%= javascript_include_tag "application" %>
  </body>
</html>